<section class="home">
  <div class="home__inner">
    <div class="home__slider">
      <button class="home__arrow --right"></button>
      <span class="home__text">Зеленые бесконечные леса</span>
      <button class="home__arrow"></button>
    </div>
    <button class="home__btn">Подробнее</button>
  </div>
</section>