{% set labelIcon = [
  {
    svg:'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M11.9997 4C16.2897 4 19.8627 6.429 22.6647 11.154L22.8847 11.533L22.9297 11.633L22.9597 11.716L22.9737 11.771L22.9877 11.853L22.9987 11.953V12.063L22.9847 12.174C22.9781 12.2111 22.9694 12.2479 22.9587 12.284L22.9197 12.392L22.8837 12.467L22.8677 12.497C20.1037 17.333 16.5677 19.877 12.3127 19.996L11.9997 20C7.60368 20 3.96268 17.451 1.13168 12.496C1.04539 12.3449 1 12.174 1 12C1 11.826 1.04539 11.6551 1.13168 11.504C3.96268 6.549 7.60368 4 11.9997 4ZM11.9997 9C11.204 9 10.441 9.31607 9.87836 9.87868C9.31575 10.4413 8.99968 11.2044 8.99968 12C8.99968 12.7956 9.31575 13.5587 9.87836 14.1213C10.441 14.6839 11.204 15 11.9997 15C12.7953 15 13.5584 14.6839 14.121 14.1213C14.6836 13.5587 14.9997 12.7956 14.9997 12C14.9997 11.2044 14.6836 10.4413 14.121 9.87868C13.5584 9.31607 12.7953 9 11.9997 9Z" fill="#6FF8B3"/>
    </svg>',
    num:34678,
    class:'label__icon--icon_1'
  },
  {
    svg:'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M6.97913 3.07352C7.86419 2.92272 8.77181 2.97247 9.63509 3.21909C10.4984 3.46572 11.2953 3.90294 11.9671 4.49852L12.0041 4.53152L12.0381 4.50152C12.6793 3.93882 13.4331 3.51932 14.2493 3.27101C15.0655 3.02269 15.9252 2.95128 16.7711 3.06152L17.0171 3.09752C18.0834 3.28163 19.0801 3.75068 19.9016 4.45499C20.7231 5.15931 21.3388 6.07267 21.6836 7.09836C22.0283 8.12405 22.0893 9.22388 21.86 10.2814C21.6307 11.3389 21.1197 12.3147 20.3811 13.1055L20.2011 13.2905L20.1531 13.3315L12.7031 20.7105C12.5312 20.8807 12.3034 20.9828 12.062 20.9978C11.8206 21.0129 11.5819 20.94 11.3901 20.7925L11.2961 20.7105L3.80313 13.2885C3.00935 12.5162 2.44483 11.5392 2.17209 10.4658C1.89935 9.39238 1.92903 8.26442 2.25785 7.20684C2.58666 6.14926 3.20179 5.20332 4.03509 4.4738C4.86839 3.74427 5.88735 3.25962 6.97913 3.07352Z" fill="#CD1818"/>
    </svg>',
    num:4381,
    class:'label__icon--icon_2'
  },
  {

    svg:'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M8.24561 7.33992L1.85751 8.2652L1.74436 8.28821C1.57308 8.33363 1.41694 8.42366 1.29188 8.54909C1.16682 8.67452 1.07732 8.83087 1.03252 9.00216C0.987723 9.17344 0.989232 9.35355 1.03689 9.52406C1.08455 9.69458 1.17666 9.8494 1.3038 9.97273L5.93167 14.4731L4.84029 20.8301L4.82727 20.9401C4.81679 21.1171 4.85357 21.2937 4.93386 21.4518C5.01414 21.6099 5.13505 21.7438 5.28419 21.8399C5.43333 21.936 5.60535 21.9907 5.78263 21.9985C5.95992 22.0063 6.1361 21.967 6.29313 21.8844L12.0064 18.8835L17.7066 21.8844L17.8067 21.9304C17.972 21.9954 18.1516 22.0154 18.3272 21.9882C18.5027 21.961 18.6678 21.8876 18.8056 21.7756C18.9434 21.6636 19.0489 21.517 19.1112 21.3509C19.1736 21.1847 19.1906 21.005 19.1605 20.8301L18.0681 14.4731L22.6979 9.97173L22.776 9.8867C22.8876 9.74943 22.9608 9.58506 22.988 9.41035C23.0153 9.23564 22.9957 9.05682 22.9313 8.89213C22.8669 8.72743 22.76 8.58273 22.6213 8.47278C22.4827 8.36283 22.3174 8.29155 22.1422 8.2662L15.7541 7.33992L12.8985 1.55814C12.8159 1.39062 12.688 1.24956 12.5292 1.15092C12.3705 1.05228 12.1873 1 12.0004 1C11.8134 1 11.6302 1.05228 11.4715 1.15092C11.3128 1.24956 11.1849 1.39062 11.1022 1.55814L8.24561 7.33992Z" fill="#8BCC00"/>
</svg>',
    num:2164,
    class:'label__icon--icon_3'
  },
  {
    svg:'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M19.48 12.3702C17.82 8.05023 11.65 8.00023 13.99 0.990234C9.52 3.00023 5.98 8.17023 9.48 15.0002C4.53 12.9202 6.7 7.71023 6.7 7.71023C6.7 7.71023 4 9.37024 4 14.3902C4.38 19.9902 9.11 21.7102 10.81 21.9302C13.24 22.2402 15.87 21.7902 17.76 20.0602C19.84 18.1302 20.6 15.0502 19.48 12.3702ZM10.2 17.4002C11.64 17.0502 12.38 16.0102 12.58 15.0902C12.91 13.6602 11.62 12.2602 12.49 10.0002C12.82 11.8702 15.76 13.0402 15.76 15.0802C15.84 17.6102 13.1 19.7802 10.2 17.4002Z" fill="#FA6C17"/>
    </svg>',
    num:1289,
    class:'label__icon--icon_4'
  },
]
%}

<section class="main-info">
  <div class="main-info__snake-wrapper">
    <svg class="main-info__snake-svg" width="1729" height="439" viewBox="0 0 1729 439" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 290.252C79.681 290.252 326.046 67.2448 404.004 47.4411C481.962 27.6373 466.354 124.828 473.779 150.334C500.355 241.627 626.745 68.1059 721.866 68.1059C745.555 68.1059 768.569 79.3638 779.581 101.686C825.667 195.108 638.74 249.353 668.889 363.44C674.127 383.261 680.71 394.537 695.593 408.644C770.536 479.679 821.112 310.969 916.977 291.544C1034.06 267.819 1104.48 370.902 1219.33 338.04C1310.82 311.862 1364.56 284.369 1417.03 205.01C1449.76 155.501 1462.8 87.6338 1511.78 51.3159C1560.8 14.9819 1584.14 12.9998 1642.72 13C1669.9 13.0001 1728 14.2915 1728 14.2915" stroke="white" stroke-width="25"/>
    </svg>
  </div>
  <div class="main-info__wrapper container">
    <div class="main-info__box">
      <h2 class="main-info__title title-h2">Карелия</h2>
      <div class="main-info__inner-text">
        <div class="btn main-info__inner-label">
          Вам понравится!
        </div>
        <p class="main-info__subtext">
          Вдохновение от природы. <br>
          Здесь каждый гость найдет занятие себе по душе.
        </p>
      </div>
      <button class="btn main-info__btn">Подробнее о Карелии</button>
    </div>

    {% for icon in labelIcon%}
      <div class="btn label__icon {{ icon.class }}">
        {{ icon.num }}
        {{ icon.svg }}
      </div>
    {% endfor %}

  </div>

</section>