<div class="layout">
    <section class="content">
        <div class="content__wrapper container">
            <h1 class="title-h1">Контентная страница</h1>
            <div class="content__block">
                <h2>Свежий воздух и ионы</h2>
                <p>Сосновые леса богаты свежим воздухом, обогащенным эфирными маслами хвои. Эти
                    масла, освобождаясь в атмосферу, создают балансированную смесь ароматов, которая благотворно влияет на
                    наше настроение и физическое состояние. Кроме того, сосновые леса излучают отрицательные ионы, которые
                    помогают улучшить наше самочувствие и повысить иммунитет.</p>
                <div>
                    <b>Что вас ждёт в лесу:</b>
                    <ul>
                        <li>свежий воздух с эфирными маслами хвои;</li>
                        <li>балансированный аромат, повышающий настроение:</li>
                        <li>излучение отрицательных ионов для улучшения самочувствия.</li>
                        <li>излучение отрицательных ионов для улучшения самочувствия.</li>
                    </ul>
                </div>
                <p>Сосновые леса богаты свежим воздухом, обогащенным эфирными маслами хвои. Эти
                    масла, освобождаясь в атмосферу, создают балансированную смесь ароматов, которая благотворно влияет на
                    наше настроение и физическое состояние. Кроме того, сосновые леса излучают отрицательные ионы, которые
                    помогают улучшить наше самочувствие и повысить иммунитет.
                </p>
            </div>


            <div class="content__block">
                <h2>Свежий воздух и ионы</h2>
                <p>Сосновые леса богаты свежим воздухом, обогащенным эфирными маслами хвои. Эти
                    масла, освобождаясь в атмосферу, создают балансированную смесь ароматов, которая благотворно влияет на
                    наше настроение и физическое состояние. Кроме того, сосновые леса излучают отрицательные ионы, которые
                    помогают улучшить наше самочувствие и повысить иммунитет.
                </p>
                <p>Сосновые леса богаты свежим воздухом, обогащенным эфирными маслами хвои. Эти
                    масла, освобождаясь в атмосферу, создают балансированную смесь ароматов, которая благотворно влияет на
                    наше настроение и физическое состояние. Кроме того, сосновые леса излучают отрицательные ионы, которые
                    помогают улучшить наше самочувствие и повысить иммунитет.
                </p>
            </div>
        </div>
    </section>
</div>
