<div class="detail-page layout {{ classMode }}">
   <div class="detail-page-header">
    <div class="detail-page-profile">
        <div class="detail-page-profile-img">
            <img src="./assets/images/user-image/ava-image-1.png" alt="">
        </div>
        <span class="detail-page-profile-name">Инна Василевская</span>
        <span class="detail-page-profile-status">автор материала</span>
    </div>
    <div class="detail-page-breadcrumbs">
        Чем заняться?
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
            <path d="M5 9L8 6L5 3" stroke="white" stroke-opacity="0.7" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        Идеи и маршруты
    </div>
    <div class="detail-page-title">
        Путешествие к великим соснам
    </div>
    <div class="detail-page-position">
        <button class="detail-page-position__button js-info-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-opacity="0.7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.24 7.76L14.12 14.12L7.76 16.24L9.88 9.88L16.24 7.76Z" stroke="currentColor" stroke-opacity="0.7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>61.596574, 30.317395</span>
        </button>
    </div>
   </div>
    <div class="container">
        <div class="detail-page__block-wrapper detail-page__block-wrapper--text">
            <p class="detail-page__block-text text-kizhich">
                Природа обладает удивительной способностью восстанавливать наши физическое и эмоциональное равновесие.
                Одной из
                самых прекрасных и целебных форм природного окружения являются леса сосен. Их высокие стройные стволы,
                аромат
                хвои и тихий шорох ветра создают особую атмосферу, способную погрузить нас в состояние гармонии и покоя.
                В этой
                статье мы рассмотрим преимущества путешествия к <span class="text-underline">соснам</span> и как оно может помочь нам восстановить душевное
                равновесие.
            </p>
        </div>
    </div>

    <section class="detail-page__section container">
        <div class="detail-page__block">
            <div class="detail-page__block-wrapper detail-page__block-wrapper--text">
                <h2>Свежий воздух и ионы</h2>
                <p>
                    Сосновые леса богаты свежим воздухом, обогащенным эфирными маслами хвои. Эти масла, освобождаясь в
                    атмосферу,
                    создают балансированную смесь ароматов, которая благотворно влияет на наше настроение и физическое
                    состояние. Кроме того, сосновые леса излучают отрицательные ионы, которые помогают улучшить наше
                    самочувствие и повысить <span class="text-underline">иммунитет</span>.
                </p>
                <div>
                    <b>Что вас ждёт в лесу:</b>
                    <ul>
                        <li>свежий воздух с эфирными маслами хвои;</li>
                        <li>балансированный аромат, повышающий настроение:</li>
                        <li>излучение отрицательных ионов для улучшения самочувствия.</li>
                        <li>излучение отрицательных ионов для улучшения самочувствия.</li>
                    </ul>
                </div>
                <p>
                    Ходьба по сосновому лесу сопровождается приятным шуршанием иголок под ногами и шелестом ветра в
                    кронах деревьев. Этот природный звуковой фон имеет успокаивающее действие на нашу психику,
                    способствует релаксации и устранению стресса. Звуки природы в сочетании с присутствием сосен создают
                    идеальную обстановку для медитации и внутреннего спокойствия.
                </p>
            </div>
        </div>
        {% include '../components/detail-page__block--img-2.twig' %}
    </section>

    <section class="detail-page__section container">
        <div class="detail-page__block-wrapper detail-page__block-wrapper--text">
            <h2>Вдыхая свежесть соснового воздуха</h2>
            <p>
                Один из главных благотворных эффектов сосновых лесов — это особый состав воздуха, который обогащен
                фитонцидами.
                Фитонциды - это специальные химические вещества, выделяемые соснами для защиты от вредных
                микроорганизмов. При
                вдыхании соснового воздуха, фитонциды проникают в наши легкие и оказывают антимикробное действие,
                укрепляя
                иммунную систему и способствуя общему оздоровлению организма.
            </p>
        </div>
        <div class="detail-page__block">
            <div class="detail-page__block-img-wrapper">
                <img
                        class="detail-page__block-img"
                        width="1368"
                        height="800"
                        src="./assets/images/detail-page/detail-img-3.jpg"
                        srcset="./assets/images/detail-page/detail-img-3.jpg 2x"
                        loading="lazy"
                        decoding="auto"
                        alt=""
                >
            </div>
        </div>
    </section>

    <section class="detail-page__section container">
        <div class="detail-page__block-wrapper detail-page__block-wrapper--text">
            <h2>Расслабление среди зелени</h2>
            <p>
                Путешествие к соснам предлагает идеальные условия для расслабления и отдыха. Уединенные тропинки, нежное
                шепотание листвы и прохлада теней сосновых крон создают атмосферу покоя и гармонии. Сидя на мягком мхе
                или расправив пикник-коврик под сосной, можно наслаждаться природными звуками, наполняющими весь
                окружающий пространство. Это идеальное место для медитации, йоги или просто чтобы насладиться моментом
                наедине с природой.
            </p>
        </div>

        <div class="detail-page__block detail-page__block--img-2">
            <div class="detail-page__block-wrapper">
                <div class="detail-page__block-img-wrapper">
                    <img
                            class="detail-page__block-img"
                            width="669"
                            height="500"
                            src="./assets/images/detail-page/detail-img-4.jpg"
                            srcset="./assets/images/detail-page/detail-img-4.jpg 2x"
                            loading="lazy"
                            decoding="auto"
                            alt=""
                    >
                </div>
                <div class="detail-page__block-img-wrapper">
                    <img
                            class="detail-page__block-img"
                            width="669"
                            height="500"
                            src="./assets/images/detail-page/detail-img-5.jpg"
                            srcset="./assets/images/detail-page/detail-img-5.jpg 2x"
                            loading="lazy"
                            decoding="auto"
                            alt=""
                    >
                </div>
            </div>
        </div>
    </section>

    <section class="detail-page__section container">
        <div class="detail-page__block">
            <div class="detail-page__block-wrapper detail-page__block-wrapper--text">
                <h2>Свежий воздух и ионы</h2>
                <p>
                    Сосновые леса богаты свежим воздухом, обогащенным эфирными маслами хвои. Эти масла, освобождаясь в
                    атмосферу,
                    создают балансированную смесь ароматов, которая благотворно влияет на наше настроение и физическое
                    состояние. Кроме того, сосновые леса излучают отрицательные ионы, которые помогают улучшить наше
                    самочувствие и повысить иммунитет.
                </p>

                <p>
                    Сосновые леса богаты свежим воздухом, обогащенным эфирными маслами хвои. Эти масла, освобождаясь в
                    атмосферу,
                    создают балансированную смесь ароматов, которая благотворно влияет на наше настроение и физическое
                    состояние. Кроме того, сосновые леса излучают отрицательные ионы, которые помогают улучшить наше
                    самочувствие и повысить иммунитет.
                </p>

                <p>
                    Ходьба по сосновому лесу сопровождается приятным шуршанием иголок под ногами и шелестом ветра в
                    кронах деревьев. Этот природный звуковой фон имеет успокаивающее действие на нашу психику,
                    способствует релаксации и устранению стресса. Звуки природы в сочетании с присутствием сосен создают
                    идеальную обстановку для медитации и внутреннего спокойствия.
                </p>
            </div>
        </div>
    </section>

    {% include '../components/detail-page-swiper.twig' %}

    <section class="detail-page__section container">
        <div class="detail-page__block">
            <div class="detail-page__block-wrapper detail-page__block-wrapper--text">
                <p>
                    Сосновые леса богаты свежим воздухом, обогащенным эфирными маслами хвои. Эти масла, освобождаясь в
                    атмосферу,
                    создают балансированную смесь ароматов, которая благотворно влияет на наше настроение и физическое
                    состояние. Кроме того, сосновые леса излучают отрицательные ионы, которые помогают улучшить наше
                    самочувствие и повысить иммунитет.
                </p>

                <p>
                    Сосновые леса богаты свежим воздухом, обогащенным эфирными маслами хвои. Эти масла, освобождаясь в
                    атмосферу,
                    создают балансированную смесь ароматов, которая благотворно влияет на наше настроение и физическое
                    состояние. Кроме того, сосновые леса излучают отрицательные ионы, которые помогают улучшить наше
                    самочувствие и повысить иммунитет.
                </p>

                <p>
                    Ходьба по сосновому лесу сопровождается приятным шуршанием иголок под ногами и шелестом ветра в
                    кронах деревьев. Этот природный звуковой фон имеет успокаивающее действие на нашу психику,
                    способствует релаксации и устранению стресса. Звуки природы в сочетании с присутствием сосен создают
                    идеальную обстановку для медитации и внутреннего спокойствия.
                </p>
            </div>
        </div>
    </section>

    <section class="detail-page__section container">
        <div class="detail-page__block-wrapper detail-page__block-wrapper--text">
            <h2>Восстановление энергии души</h2>
            <p>
                Путешествие к соснам предлагает идеальные условия для расслабления и отдыха. Уединенные тропинки, нежное
                шепотание листвы и прохлада теней сосновых крон создают атмосферу покоя и гармонии. Сидя на мягком мхе
                или расправив пикник-коврик под сосной, можно наслаждаться природными звуками, наполняющими весь
                окружающий пространство. Это идеальное место для медитации, йоги или просто чтобы насладиться моментом
                наедине с природой.
            </p>
        </div>

        {% include '../components/detail-block-grid-4.twig' %}

        <div class="detail-page__block-wrapper detail-page__block-wrapper--text">
            <p>
                В сосновых лесах можно не только прогуливаться, но и ощутить целебные свойства сосновых ванн.
                Натуральные эфирные масла хвои, которые испаряются в жаркую погоду или при контакте с горячей водой в
                бане, имеют антисептические и противовоспалительные свойства. Вдыхание паров сосны помогает улучшить
                дыхательную систему, а контакт с ее эфирными маслами благотворно воздействует на кожу.
            </p>
            <p>
                Путешествие к соснам является замечательным способом восстановления души и тела. В обнимку с этой
                природной красотой мы имеем возможность насладиться свежим воздухом, успокаивающим шумом природы и
                целебными свойством.
            </p>
            <p>
                При нынешнем ритме жизни, когда мы постоянно подвергаемся стрессу и загрязнению окружающей среды,
                путешествие к соснам может стать настоящим спасением для нашего здоровья и хорошего самочувствия.
                Отправляйтесь в это приключение и почувствуйте всю силу целебного воздействия сосновых лесов. Вернитесь
                обновленными, бодрыми и полными энергии, чтобы продолжить свой путь в повседневной жизни.
            </p>
        </div>
    </section>

    {% include '../components/info.twig' %}

{#    <div class="detail-page__btn-info container ">#}
{#        <button class="detail-page__btn-info btn btn--green js-info-btn" type="button">Информация о локации</button>#}
{#    </div>#}
</div>