{% set filterSection = [
    {
        title: "Все разделы",
    },
    {
        title: "Исторические места",
    },
    {
        title: "Религиозные места",
    },
    {
        title: "Памятники и мемориалы",
    },
    {
        title: "Фестивали и события",
    },
    {
        title: "Фестивали и события",
    },
    {
        title: "Фестивали и события",
    },
    {
        title: "Фестивали и события",
    },
] %}
{% set block1 = [
    {
        img: "./assets/images/content-article/img-1.jpg",
        img2x: "./assets/images/content-article/img-1@2x.jpg",
        title: "Озера",
        text: "Пройдетесь по набережной Онежкского озера наслаждаясь красивыми видами и атмосферой",
    },
    {
        img: "./assets/images/content-article/img-2.jpg",
        img2x: "./assets/images/content-article/img-2@2x.jpg",
        title: "Белое море",
        text: "Пройдетесь по набережной Онежкского озера наслаждаясь красивыми видами и атмосферой",
    },
    {
        img: "./assets/images/content-article/img-3.jpg",
        img2x: "./assets/images/content-article/img-3@2x.jpg",
        title: "Маяки",
        text: "Пройдетесь по набережной Онежкского озера наслаждаясь красивыми видами и атмосферой",
    },
    {
        img: "./assets/images/content-article/img-4.jpg",
        img2x: "./assets/images/content-article/img-4@2x.jpg",
        title: "Святые места",
        text: "Пройдетесь по набережной Онежкского озера наслаждаясь красивыми видами и атмосферой",
    },
    {
        img: "./assets/images/content-article/img-5.jpg",
        img2x: "./assets/images/content-article/img-5@2x.jpg",
        title: "Первобытные люди",
        text: "Пройдетесь по набережной Онежкского озера наслаждаясь красивыми видами и атмосферой",
    },
    {
        img: "./assets/images/content-article/img-6.jpg",
        img2x: "./assets/images/content-article/img-6@2x.jpg",
        title: "Водопады",
        text: "Пройдетесь по набережной Онежкского озера наслаждаясь красивыми видами и атмосферой",
    },
] %}
{% set block2 = [
    {
        img: "./assets/images/content-article/img-9.jpg",
        img2x: "./assets/images/content-article/img-9@2x.jpg",
        title: "Город как художественная галерея",
        label: "Label",
    },
    {
        img: "./assets/images/content-article/img-8.jpg",
        img2x: "./assets/images/content-article/img-8@2x.jpg",
        title: "Гастрономическое путешествие по городу",
        label: "Label",
    },
] %}
{% set block3 = [
    {
        img: "./assets/images/content-article/img-10.jpg",
        img2x: "./assets/images/content-article/img-10@2x.jpg",
        title: "Гастрономическое путешествие в Карелию",
        label: "Кухня",
        text: 'Гастрономическое путешествие в Карелию Гастрономическое путешествие в Карелию'
    },
    {
        img: "./assets/images/content-article/img-11.jpg",
        img2x: "./assets/images/content-article/img-11@2x.jpg",
        title: "Weekend в Петрозаводске: что посмотреть за 2 дня",
        label: "Достопримечательности",
        text: 'Гастрономическое путешествие в Карелию Гастрономическое путешествие в Карелию'

    },
    {
        img: "./assets/images/content-article/img-12.jpg",
        img2x: "./assets/images/content-article/img-12@2x.jpg",
        title: "Зеленый город. Лучшие локации для прогулок",
        label: "Культурная жизнь",
        text: 'Гастрономическое путешествие в Карелию Гастрономическое путешествие в Карелию'

    },
] %}
{% set block4 = [
    {
        img: "./assets/images/content-article/img-13.jpg",
        img2x: "./assets/images/content-article/img-13@2x.jpg",
        title: "От паромных туров до речных круизов",
        label: "Label"
    },
    {
        img: "./assets/images/content-article/img-14.jpg",
        img2x: "./assets/images/content-article/img-14@2x.jpg",
        title: "Отдых в Карелии летом - все включено!",
        label: "Label"
    },
    {
        img: "./assets/images/content-article/img-15.jpg",
        img2x: "./assets/images/content-article/img-15@2x.jpg",
        title: "Как провести время с родными и друзьями",
        label: "Label"
    },
] %}
{% set block5 = [
    {
        img: "./assets/images/content-article/img-16.jpg",
        img2x: "./assets/images/content-article/img-16@2x.jpg",
        title: "Вечерние прогулки и развлечения",
        label: "label"
    },
    {
        img: "./assets/images/content-article/img-17.jpg",
        img2x: "./assets/images/content-article/img-17@2x.jpg",
        title: "Развлечения для маленьких и взрослых",
        label: "label"
    },
] %}
{% set block6 = [
    {
        img: "./assets/images/content-article/img-18.jpg",
        img2x: "./assets/images/content-article/img-18@2x.jpg",
        title: "Открываем волшебство: история и культура города",
        label: "Label"
    },
    {
        img: "./assets/images/content-article/img-19.jpg",
        img2x: "./assets/images/content-article/img-19@2x.jpg",
        title: "Уголки, которые следует обязательно посетить",
        label: "Label"
    },
    {
        img: "./assets/images/content-article/img-14.jpg",
        img2x: "./assets/images/content-article/img-14@2x.jpg",
        title: "Углубились в местную культуру, познакомились с традициями и обычаями, встретили местных жителей и раскрыли малоизвестные аспекты местности",
        label: "Label"
    },
    {
        img: "./assets/images/content-article/img-20.jpg",
        img2x: "./assets/images/content-article/img-20@2x.jpg",
        title: "Прогулка по историческим строениям",
        label: "Label"
    },
] %}
<div class="layout">
    <section class="sight container sight--mode">
        <div class="sight__wrapper">
            <div class="sight__inner sight-inner">
                <ul class="sight-inner__chips-list">
                    <li class="sight-inner__chips-item">Чем заняться?</li>
                </ul>
                <h1 class="sight-inner__title title-h1">Достопримечательности</h1>
                <p class="sight-inner__text">Красочные картины приключений, разработанные для путешественников, чтобы
                    провести их&nbsp;через множество удивительных мест и&nbsp;культурных впечатлений.</p>

                <div class="sight-inner__filter-section">
                    <button class="sight-inner__btn btn">
                        <span class="sight-inner__btn-text">Все разделы</span>
                        <svg class="sight-inner__btn-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none">
                            <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <div class="filter-section">
                        <div class="filter-section__wrapper">
                            <ul class="filter-section__list">
                                {% for el in  filterSection %}
                                    <li class="filter-section__item">
                                        <a class="filter-section__link" href="#">{{ el.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            {% include '../components/sight-filter.twig', with {
                list: block1,
                classModeArticle: 'article-block__article--hover-move'
            } %}

        </div>
    </section>

    {% include '../components/article-block--count-4.twig', with {
        list: block6,
        classModeArticle: 'article-block__article--hover-bg'
    } %}

    {% include '../components/article-block article-block--full.twig', with {
        img1x: "./assets/images/content-article/img-7.jpg",
        img2x: "./assets/images/content-article/img-7@2x.jpg",
        classModeArticle: 'article-block__article--hover-move',
        label: 'label',
        title: 'Зеленые оазисы: природные уголки в сердце города',
        text: 'Зеленые оазисы: природные уголки в сердце города Зеленые оазисы: природные уголки в сердце города'
    } %}

    {% include '../components/article-block--count-2.twig', with {
        list: block2,
        classModeArticle: 'article-block__article--hover-bg'
    } %}

    {% include '../components/article-block--count-3-one-lg.twig', with {
        list: block3,
        classModeArticle: 'article-block__article--hover-move'
    } %}

    {% include '../components/article-block--count-3.twig', with {
        list: block4,
        classModeArticle: 'article-block__article--hover-bg'
    } %}

    {% include '../components/article-block article-block--full.twig', with {
        img1x: "./assets/images/content-article/img-7.jpg",
        img2x: "./assets/images/content-article/img-7@2x.jpg",
        classModeArticle: 'article-block__article--hover-move',
        label: 'label',
        title: 'Зеленые оазисы: природные уголки в сердце города',
        text: 'Зеленые оазисы: природные уголки в сердце города Зеленые оазисы: природные уголки в сердце города'
    } %}

    {% include '../components/article-block--count-2.twig', with {
        list: block5,
        classModeArticle: 'article-block__article--hover-bg'
    } %}

    {% include '../components/pagination.twig' %}

    {% include "./../components/ticket-widget.twig" %}
</div>
