<div class="detail-page__block detail-page__block--img-2">
    <div class="detail-page__block-wrapper">
        <div class="detail-page__block-img-wrapper">
            <img
                    class="detail-page__block-img"
                    width="669"
                    height="500"
                    src="./assets/images/detail-page/detail-img-1.jpg"
                    srcset="./assets/images/detail-page/detail-img-1@2x.jpg 2x"
                    loading="lazy"
                    decoding="auto"
                    alt=""
            >
        </div>
        <div class="detail-page__block-img-wrapper">
            <img
                    class="detail-page__block-img"
                    width="669"
                    height="500"
                    src="./assets/images/detail-page/detail-img-2.jpg"
                    srcset="./assets/images/detail-page/detail-img-2@2x.jpg 2x"
                    loading="lazy"
                    decoding="auto"
                    alt=""
            >
        </div>


    </div>
</div>