<section class="cost-ticket">
  <div class="cost-ticket__wrapper container">
    <div class="cost-ticket__inner">
      <p class="cost-ticket__welcome">Добро пожаловать!</p>
      <h2 class="cost-ticket__title title-h2">Узнайте стоимость билетов до Карелии</h2>

      <ul class="cost-ticket__type-list">
        <li class="cost-ticket__type-item">
          <a class="cost-ticket__type-item-link cost-ticket__type-item-link--active"
             href="#">Авиабилеты</a>
        </li>
        <li class="cost-ticket__type-item">
          <a class="cost-ticket__type-item-link" href="#">Ж/д билеты</a>
        </li>
      </ul>

      <div class="cost-ticket__form">
        <div>
          Поиск билетов
        </div>
      </div>
    </div>

  </div>
</section>