.article-block--count-2 {
  display: flex;
  justify-content: center;
  column-gap: 80px;
  row-gap: 30px;

  @include vp-767 {
    flex-direction: column;
    row-gap: 35px;
  }

  .article-block__article {
    max-width: 530px;

    @include vp-767 {
      max-width: 100%;
    }
  }

  .article-block__link {
    display: flex;
    flex-direction: column;
  }

  .article-block__img {
    border-radius: 15px;
    height: 408px;

    @include vp-767 {
      height: 382px;
    }
  }

  .article-block__title-wrapper {
    position: static;
    transform: translate(0, 0);
    padding: 20px;
    text-align: left;
    align-items: flex-start;
  }

  .article-block__title {
    color: $color-haiti;
    font-size: 1.5rem;
    line-height: 1.625rem;
  }
}
